*{
  color: #e0e0e0;
  margin: 0;
}

main{
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
  height: 100vh;
}

/* form css*/

.form-bg{
  height: 100vh;
  width: 100vw;
  background-color: #252329;
  display: flex;
  align-items: center;
  justify-content: center;

  & form{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    background-color: #120f13;
    padding: 30px;
    border-radius: 1.5rem;
  }

  & input{
    width: 250px;
    height: 25px;
    color: #120f13;
  }

}

.form-btns{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  & input[type=submit]{
    width: 50%;
    background-color: #2d9cdb;
    border: none;
    border-radius: 0.25rem;
    color: #e0e0e0;
  }

  & button {
    width: 50%;
    height: 25px;
    background-color: #2d9cdb;
    border: none;
    border-radius: 0.25rem;
  }

}
